#favourite {
    color: white;
    float: right;
    font-size: 32px;
}

#favourite:hover {
    color: #E74C3C;
}

#favourite:focus {
    background-color: red;
}

.shop11 {
    float: center;
    font-size: 26px;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}


/* Float four columns side by side */

.column1 {
    float: left;
    width: 25%;
}


/* Remove extra left and right margins, due to padding */

.row13 {
    margin: 0 -5px;
    display: flex;
    justify-content: center;
}


/* Clear floats after the columns */

.row13:after {
    content: "";
    display: table !important;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column1 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card3 {
    padding: 16px;
    text-align: center;
    background-color: white;
}

.latestdr {
    font-family: 'DotGothic16', sans-serif;
    font-weight: 800;
    padding-top: 50px;
    text-align: center;
}

.shopby {
    margin-left: 20%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}

body {
    padding-top: 37px;
}

.carouseli1 {
    height: 800px;
}

.foto {
    height: 800px;
    filter: brightness(52%);
    width: 100% \50;
}

.carousel .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel .carousel-item.active,
.carousel .carousel-item-next.carousel-item-left,
.carousel .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel .active.carousel-item-left,
.carousel .active.carousel-item-right {
    opacity: 0;
}

.carousel .carousel-item-next,
.carousel .carousel-item-prev,
.carousel .carousel-item.active,
.carousel .active.carousel-item-left,
.carousel .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}


/* Font */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #ecf9ff;
}

body {
    color: #272727;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.cardsfoto {
    height: auto;
    max-width: 70%;
    max-height: 100%;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background-color: #457B9D;
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_title1 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Cliens
--------------------------------------------------------------*/

.cliens {
    padding: 12px 0;
    text-align: center;
}

.cliens img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
}

.cliens img:hover {
    -webkit-filter: none;
    filter: none;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .cliens img {
        max-width: 40%;
    }
}